---
layout: default
active: home
---

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

    {% for img in site.data.headerimages %}
      <div class="item {% if forloop.first == true %} active{% endif %}">
        <img src="{{img.url}}" alt="{{img.title}}">
      </div>
    {% endfor %}

    </div>

 <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        {% include about_the_lab.html %}
    </div>

    <div class="col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/KerrLab" data-widget-id="618298940207726592">#KerrLab Tweets</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>