<h2>About The Kerr Lab</h2>
  <p>
    Welcome to the Kerr Lab at the University of Washington. We use a combination of mathematical analysis, computer simulation, and laboratory experiments with microbes to explore theoretical and empirical angles on topics in ecology, evolutionary biology, and the philosophy of biology. Some areas that interest us currently include:

    <ul>
      <li>The evolution of cooperation</li>
      <li>The evolutionary role of niche construction</li>
      <li>The role of population structure in ecosystems</li>
      <li>Phenotypic plasticity, learning and information processing</li>
      <li>Evolution in changing environments</li>
      <li>The levels of selection controversy</li>
    </ul>
  </p>